body{

    background: #f2f2f2;
}
.container{
    max-width: 1280px;
    height: 100%;
    margin: auto;
}
.header_top{
    padding: 8px 0px;
}
.header_top_all{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
}
.header_top_left{
    display: flex;
    align-items: center;
    gap: 10px;
}
.header_top_left a:nth-child(1){
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    font-weight: 700;
    color: #000
}

.header_top_left a:nth-child(2){
    font-weight: 700;
    font-size: 14px;
    color: #000
}
.header_top_right{
    display: flex;
    gap: 28px;
}
.header_top_right a{
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #000
}
.header_bottom{
    background: #9f82f2;
    min-height: 88px;
}
.header_bottom_left .categories p{
    color: #fff;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;

}
.header_bottom_left .categories{
    padding: 15px;
    width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.header_bottom_left .categories:hover{
    background: #2d3032;
}
.header_bottom_left .categories:hover .navbar_header{
    display: block;
}
.header_bottom .container{
    padding: 0 0px;
}
.header_bottom_left .search input{
    padding: 1rem 1.5rem;
    outline: none;
    border: none;
    border-radius: 4px;
    height: 48px;
    width: 80%;
}
.header_bottom_left .search input::placeholder{
    color: #adadad;
    font-size: 16px;

}
.header_bottom_left .search button{
    background: #fff;
    padding: 0 10px;
    outline: none;
    border: none;
    height: 100%;
    border-radius: 0 4px 4px 0;
}
.header_bottom_left .search button svg{
    vertical-align: middle;
}
.header_bottom_left .search{
    border-radius: 4px;
    background: #fff;
    height: 48px;
    max-width: 700px;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header_bottom_left{
    display: flex;
    align-items: center;
    width: 65%;
    gap: 10px;
}
.header_bottom_right{
    display: flex;
    align-items: center;
    height: 100%;
}
.header_bottom_right button{
    background: transparent;
    margin-right: 40px;
    border-radius: 4px;
    font-weight: 400;
    color: #fff;
    padding: 7px 25px;
    border: 1px solid #fff;
    font-size: 16px;
    cursor: pointer;
}
.header_bottom_right button:hover{
    background: #fff;
    color: #383e42;
}
.header_bottom_all{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_bottom_icons{
    display: flex;
    align-items: center;
    gap: 30px;
    height: 48px;
}
.header_bottom_icons svg{
    vertical-align: middle;
}
.header_bottom_icon_user{
    position: relative;
    height: 48px;
    display: flex;
    align-items: center;
}
.header_bottom_icon_user svg:nth-child(2){
    display: none;
}
.header_bottom_icon_user:hover svg:nth-child(1){
    display: none;
}
.header_bottom_icon_user:hover svg:nth-child(2){
    display: block;
}
.header_bottom_icon_user:hover .login_register_div{
    display: flex;
}
.login_register_div:hover{
    display: flex;
}
.login_register_div{
    position: absolute;
    z-index: 1111;
    top: 40px;
    left: -168px;
    width: 264px;    
    height: auto;
    background-color: #fff;
    padding: 16px;
    padding-top: 32px;
    background-color: #fff;
    display: none;
    flex-direction: column;
    clip-path: polygon(68% 0, 73% 7%, 100% 7%, 100% 70%, 100% 100%, 57% 100%, 0 100%, 0% 70%, 0 7%, 63% 7%);
    border-radius: 0px 0px 7px 7px;
}
.login_register_div p{
    color: #adadad;
    font-size: 12px;
    padding-bottom: 8px;
    border-bottom: 1px solid #dadada;
    margin-bottom: 16px;
}
.login_register_div a:nth-child(2){
    color: #fff;
    width: 100%;
    font-size: 14px;
    border-radius: 4px;
    padding: 8px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 8px;
    border: 1px solid #8dc63f;
    background-color: #8dc63f;
}
.login_register_div a:nth-child(3){
    color: #8dc63f;
    width: 100%;
    font-size: 14px;
    border-radius: 4px;
    padding: 8px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 8px;
    border: 1px solid #8dc63f;
    background-color: transparent;
}
.navbar_header{
    display: none;
}
.navbar_header .category_all{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 111;
    height: auto;
    top: 72%;
    padding-bottom: 30px;
}